In [7]:
direccion = "C\\navarra alias \"pamplona\""
print(direccion)

C\navarra alias "pamplona"

In [9]:
s = "a\nb\nc\tg"
print(s)

a
b
c	g

In [12]:
s = "*"
print(s)

*

In [14]:
print(s + s + s)

***

In [18]:
s = "ABC"
s = s + "#"
print(s)

ABC#

In [20]:
i = 0
while i < 5:
    print("#", end="")
    i += 1

#####

In [22]:
serpiente = ""
i = 0
while i < 5:
    serpiente += "#"
    #serpiente = serpiente + "#"
    i += 1
print(serpiente)

#####

In [25]:
12 > 34

False

In [27]:
"a" > "A"

True

In [29]:
ord("a")

97

In [32]:
persona = "Luis" + "(" + 22 + ")"
print(persona)

TypeError: can only concatenate str (not "int") to str

In [34]:
persona = "Luis" + "(" + str(22) + ")"
print(persona)

Luis(22)

In [36]:
print("1" + "2")

12

In [38]:
print(1 + 2)

3

In [51]:
nombre = "Luis"
edad = 22

In [57]:
print(nombre + " con la edad de " + str(edad) + " años y tiene estos apellidos")

Luis con la edad de 22 años y tiene estos apellidos

In [61]:
salida = nombre + " con la edad de " + str(edad) + " años y tiene estos apellidos"
print(salida)

Luis con la edad de 22 años y tiene estos apellidos

In [59]:
print(nombre, " con la edad de ", edad, " años y tiene estos apellidos")

Luis  con la edad de  22  años y tiene estos apellidos

In [55]:
print(f"{nombre} con la edad de {edad} años y tiene estos apellidos")

Luis con la edad de 22 años y tiene estos apellidos

In [64]:
numero = 1_000_000

In [179]:
nombre = "Luis"
print(nombre[0])
print(nombre[3])

L
s

In [181]:
print(nombre[5])

IndexError: string index out of range

In [79]:
nombre = "Luis"
SIZE = 4
i = 0
while i < SIZE:
    print(nombre[i])
    i += 1

L
u
i
s

In [81]:
nombre = "Ana"
SIZE = 4
i = 0
while i < SIZE:
    print(nombre[i])
    i += 1

A
n
a

IndexError: string index out of range

In [113]:
import random
NOMBRES_MAX = 5
numero_nombre = 0
while numero_nombre < NOMBRES_MAX:
    nombre = ""
    i = 0
    while i < 4:
        n = random.randint(65, 90)
        nombre = nombre + chr(n)
        i += 1
    print(nombre)
    numero_nombre += 1

FVEU
DOUO
MLYN
NKRN
VHAR

In [89]:
nombre = "Mateo"
i = 0
while i < len(nombre):
    print(f"Posición {i+1}: {nombre[i]}")
    i += 1

Posición 1: M
Posición 2: a
Posición 3: t
Posición 4: e
Posición 5: o

In [167]:
i = 25
while i < 123:
    print(i, chr(i), end = "\t")
    i += 1

25 	26 	27 	28 	29 	30 	31 	32  	33 !	34 "	35 #	36 $	37 %	38 &	39 '	40 (	41 )	42 *	43 +	44 ,	45 -	46 .	47 /	48 0	49 1	50 2	51 3	52 4	53 5	54 6	55 7	56 8	57 9	58 :	59 ;	60 <	61 =	62 >	63 ?	64 @	65 A	66 B	67 C	68 D	69 E	70 F	71 G	72 H	73 I	74 J	75 K	76 L	77 M	78 N	79 O	80 P	81 Q	82 R	83 S	84 T	85 U	86 V	87 W	88 X	89 Y	90 Z	91 [	92 \	93 ]	94 ^	95 _	96 `	97 a	98 b	99 c	100 d	101 e	102 f	103 g	104 h	105 i	106 j	107 k	108 l	109 m	110 n	111 o	112 p	113 q	114 r	115 s	116 t	117 u	118 v	119 w	120 x	121 y	122 z

In [177]:
i = 65
while i < 91:
    print(f"{i} {chr(i)}->{chr(i+32)}", end = " ")
    i += 1

65 A->a 66 B->b 67 C->c 68 D->d 69 E->e 70 F->f 71 G->g 72 H->h 73 I->i 74 J->j 75 K->k 76 L->l 77 M->m 78 N->n 79 O->o 80 P->p 81 Q->q 82 R->r 83 S->s 84 T->t 85 U->u 86 V->v 87 W->w 88 X->x 89 Y->y 90 Z->z

In [117]:
nombre = "Macabeo"
i = len(nombre)-1
while i >= 0:
    print(nombre[i], end="")
    i -= 1

oebacaM

In [123]:
nombre = "Macabeo"
nombre_invertido = ""
i = len(nombre)-1
while i >= 0:
    nombre_invertido += nombre[i]
    i -= 1
print(nombre_invertido)

oebacaM

In [ ]:
i = 0
while i < 100:
    print(i, chr(i))
    i += 1

In [139]:
nombre = "AnA"
encontrado = False
i = 0
while i < len(nombre) and not encontrado:
    if nombre[i] == "a" or nombre[i] == "A":
       encontrado = True
    i += 1

if encontrado:
    print(f"{nombre} contiene una A")
else:
    print(f"{nombre} NO contiene una A")

AnA contiene una A

In [143]:
nombre = "AnA"
encontrado = False
i = 0
while i < len(nombre) and not encontrado:
    if nombre[i] == "a" or nombre[i] == "A":
       encontrado = True
    i += 1
    
print(nombre, end="")
# if encontrado == False:
if not encontrado:    
    print(" NO", end="")
print(" contiene una A")

AnA contiene una A

In [157]:
s = "ANA3MIG2DAV1"
i = 0
while i < len(s):
    print("Nombre:", s[i] + s[i+1] + s[i+2], end= " ")
    print("Goles:", s[i+3])
    i += 4

Nombre: ANA Goles: 3
Nombre: MIG Goles: 2
Nombre: DAV Goles: 1