# for in

In [209]:
coches = ["BMW", "Seat", "Audi"]
i = 0
while i < len(coches):
    print(coches[i])
    i += 1

BMW
Seat
Audi

In [211]:
coches = ["BMW", "Seat", "Audi"]
for coche in coches:
    print(coche)

BMW
Seat
Audi

In [217]:
for numero in range(10):
    print(numero, end=", ")

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [219]:
for numero in range(5, 20, 2):
    print(numero, end=", ")

5, 7, 9, 11, 13, 15, 17, 19,

In [221]:
for i in range(len(coches)):
    print(coches[i])

BMW
Seat
Audi

In [162]:
coches = ["BMW", "Seat", "Audi"]
coches
edades = [12, 2, 12, 34]
edades

[12, 2, 12, 34]

In [223]:
for x in range(3):
    print("hola")

hola
hola
hola

In [225]:
for _ in range(3):
    print("hola")

hola
hola
hola

# Tuplas

In [181]:
coordenadas = (12, 34)
coordenadas_list = [12, 34]
print(type(coordenadas))
print(type(coordenadas_list))

<class 'tuple'>
<class 'list'>

In [183]:
coordenadas_list[0] = 22

In [185]:
coordenadas[0] = 22

TypeError: 'tuple' object does not support item assignment

In [191]:
a = 0, 1, 2
a

(0, 1, 2)

In [197]:
persona = ("Luis", 34, "Madrid")
#persona[1] = persona[1] + 1     # ERRORORPOROOROROROROR
persona = (persona[0], persona[1] + 1, persona[2])
persona

('Luis', 35, 'Madrid')

In [207]:
persona = ("Luis", 34, "Madrid")
nombre, edad, ciudad = persona
persona = (nombre, edad + 1, ciudad)

In [201]:
nombre

'Luis'

In [167]:
x = 12
y = 34
coordenadas = (x, y)

In [169]:
coordenadas

(12, 34)

In [175]:
coordenadas[2]

IndexError: tuple index out of range

# Dict

In [229]:
alumnos = {"Luis" : "iPhone", "Ana": "Samsung"}
alumnos

{'Luis': 'iPhone', 'Ana': 'Samsung'}

## Caso del Outfit 
Punto de partida: listas de listas de listas.

In [243]:
[['GGGG', [['Zapatos', 40], ['Falda', 100], ['Camiseta', 70]]],
 ['IIII', [['Falda', 40], ['Bañador', 50]]],
 ['PPPP', [['Falda', 80], ['Pantalón', 10], ['Falda', 10]]],
 ['EEEE', [['Zapatos', 60], ['Pantalón', 80]]]]

[['GGGG', [['Zapatos', 40], ['Falda', 100], ['Camiseta', 70]]],
 ['IIII', [['Falda', 40], ['Bañador', 50]]],
 ['PPPP', [['Falda', 80], ['Pantalón', 10], ['Falda', 10]]],
 ['EEEE', [['Zapatos', 60], ['Pantalón', 80]]]]

Punto final: diccionario de listas de tuplas.

In [250]:
diccionario = {'GGGG': [('Zapatos', 40), ('Falda', 100), ('Camiseta', 70)],
 'IIII': [('Falda', 40), ('Bañador', 50)],
 'PPPP': [('Falda', 80), ('Pantalón', 10), ('Falda', 10)],
 'EEEE': [('Zapatos', 60), ('Pantalón', 80)]}

In [258]:
ropa, precio = diccionario["PPPP"][1]

In [260]:
ropa

'Pantalón'

In [262]:
precio

10